body{
	background: linear-gradient(to right, rgb(129, 185, 223),
		rgb(153, 204, 255), white);
	
}

.formclass {
	background-image: linear-gradient(to right, #d5edf0, #d5edf0, #94d1d8, #d5edf0, #d5edf0);
	justify-content: center;
}

.inputclassbutton {
	background-color: #39959f;
	border-width: 0px;
	border-radius: 2px
}

.inputclassbutton:hover {
	background-color: #33adff;
}

.form-horizontal {
	display: block;
	justify-content: center;
	width: 50%;
	margin: 0 auto;
	align-content: center;
	background-image: linear-gradient(to right, #d5edf0, #d5edf0, #94d1d8, #d5edf0, #d5edf0);
}

.bg-color {
	background-color: #002233;
}

.formopacity {
	opacity: 0.8;
}

.gradient-custom {
	background: linear-gradient(to right, rgb(129, 185, 223),
		rgb(153, 204, 255), white);
}

.backgrnd {
	background-color: black;
	opacity: 0.5;
}

.sidenav {
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	background-color: #002233;
	overflow-x: hidden;
	padding-top: 60px;
	display: flex;
	width: 100%;
}

.sidenav ul {
	width: 100%;
}

.sidenav li {
	color: aliceblue;
	padding: 0px;
	width: 100%;
}

.sidenav li:hover {
	background-color: #1a6184;
	width: 100%;
}

.active {
	color: aliceblue;
	background-color: #1a6184;
	opacity: 0.6;
	display: flex;
	width: 100%;
}

.main {
	background: linear-gradient(to right, rgb(129, 185, 223),
		rgb(153, 204, 255), white);
	position: fixed;
	height: 100%;
	right: 0;
	top: 0;
	overflow-x: hidden;
	overflow-y: hidden;
}

.horizontalline {
	background-color: #002233;
	height: 15%;
	justify-content: center;
	vertical-align: middle;
}

.labelhorizontal {
	color: aliceblue;
	font-size: 20px;
	vertical-align: middle;
}

a {
	font-size: 16px;
	color: white;
	text-decoration: none;
}

.trclass:hover {
	background-color: #81b9df;
	color: white;
}

tr {
	font-size: 14px;
}

a.btn {
	font-size: 14px;
	background-color: #5da5d5;
}

.btnhover:hover {
	background-color: #81b9df;
}

.info-div {
	position: absolute;
	width: 100%;
	font-size: 14px;
	z-index: 10;
	height: 100%;
	max-height: 65%;
	overflow-y: scroll;
}

.divtable {
	font-size: 14px;
	position: absolute;
	width: 100%;
	z-index: 10;
	height: 100%;
	max-height: 60%;
	overflow-y: scroll;
}

table {
	font-size: 14px;
}

.align-right {
	display: flex;
	justify-content: flex-end;
}


.cardLogIn{
	background-color: #004466;
}

.card-read{
	background-color: #004466;
	color: white;
}
.card-read:hover{
	background-color: #006699;
}

.btn-card-read{
	background-color: #0d628c;
	color:white;
}
.btn-card-unread{
	background-color: #b31b2a;
	color:white;
}
.card-header{
	font-size: 16px;
}

.card-body{
	font-size: 12px;
	
}
.card-unread{
	background-color: #69111a; 
	color: white;
}
.card-unread:hover{
	background-color:#9c1725 
}
